name: docker

on:
  workflow_dispatch:
  # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#release
  release:
    types: [published]
  push:
    branches:
      - "main"
    paths:
      - 'Dockerfile'
      - 'Directory.*'
      - 'src/**'
      - 'build/**'
      - '.github/workflows/docker.yml'
env:
  DOCKER_HUB_USERNAME: "weihanli"
  ContainerPlatforms: "linux/amd64,linux/arm64,linux/arm"
jobs:  
  docker-build:
    if: github.repository == 'WeihanLi/dotnet-exec'
    runs-on: ubuntu-latest

    steps:
    - name: Check Out
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ env.DOCKER_HUB_USERNAME }}
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Build and push release
      id: docker_build_release
      uses: docker/build-push-action@v5
      if: ${{ github.event_name == 'release' }}
      with:
        context: ./
        file: ./Dockerfile
        push: true
        tags: ${{ env.DOCKER_HUB_USERNAME }}/dotnet-exec:${{ github.event.release.tag_name }}
        platforms: ${{ env.ContainerPlatforms }}

    - name: Build and push web release
      id: docker_build_web_release
      uses: docker/build-push-action@v5
      if: ${{ github.event_name == 'release' }}
      with:
        context: ./
        file: ./Dockerfile
        push: true
        tags: ${{ env.DOCKER_HUB_USERNAME }}/dotnet-exec:${{ github.event.release.tag_name }}-web
        platforms: ${{ env.ContainerPlatforms }}
        build-args: "RuntimeImageRepo=aspnet"

    - name: Build and push web
      id: docker_build_web
      uses: docker/build-push-action@v5
      with:
        context: ./
        file: ./Dockerfile
        push: true
        tags: ${{ env.DOCKER_HUB_USERNAME }}/dotnet-exec:web
        platforms: ${{ env.ContainerPlatforms }}
        build-args: "RuntimeImageRepo=aspnet"

    - name: Build and push latest
      id: docker_build_latest
      uses: docker/build-push-action@v5
      with:
        # https://docs.github.com/en/actions/learn-github-actions/contexts#github-context
        context: ./
        file: ./Dockerfile
        push: true
        tags: ${{ env.DOCKER_HUB_USERNAME }}/dotnet-exec:latest
        platforms: ${{ env.ContainerPlatforms }}
